.nav
    width: 100%
    display: flex
    flex-direction: column
    margin-bottom: 1rem
    &__header-box
        background-color: #88e67ece
        width: 100%
        padding: 1rem 0
        h1
            text-align: center            
            text-decoration: underline
    &__box
        position: relative

        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr
        padding: 1rem 2.5rem
        background-color: #5bab52ce
        border-radius: 0 0 1rem 1rem
        border-bottom: 2px solid #d8d7d7
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7)
    &__themes
        align-self: flex-start
    &__topics
        position: relative
        width: max-content
        &-link:focus-within + .nav__topics-box        
            opacity: 1
            transform: scaleY(1)
        &-box
            position: absolute
            list-style: none
            background-color: #d8d7d7
            width: 12rem
            top: 225%
            left: -10%
            border-radius: .5rem
            overflow: hidden
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.7)
            border: 2px solid #d8d7d7
            opacity: 0
            transform: scaleY(0)
            transform-origin: 0 0
            transition: opacity 0.3s ease, transform 0.3s ease
            li
                &:not(:last-child)
                    border-bottom: 1px solid #b6b4b4
                a
                    display: block
                    text-decoration: none
                    padding: .5rem 1rem
                    color: black
                    
                    &:hover
                        background-color: #5bab52ce
    &__user

        justify-self: end



.dropdown
    position: relative
    display: inline-block
    &:focus-within .dropdown-content
        display: block
        opacity: 1
        transform: scaleY(1)

.dropbtn
    display: block
    position: relative
    span
        position: relative

.dropdown-content
    width: 12rem    
    position: absolute
    opacity: 0
    transform: scaleY(0)
    transform-origin: 0 0
    background-color: #d8d7d7
    border: 2px solid #d8d7d7
    left: -35%
    top: 225%
    overflow: hidden
    border-radius: .5rem
    right: -1.5rem
    min-width: 160px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    transition: opacity 0.3s ease, transform 0.3s ease
    z-index: 1
    &__a
        color: block
        padding: .5rem 1rem
        text-decoration: none
        display: block
        color: black
        &:not(:last-child)
            border-bottom: 1px solid #b6b4b4
        &:hover
            background-color: #5bab52ce



