
@import "btn.sass"
@import "layout/_navigation.sass"
@import "abstracts/_link-underlining.sass"
@import "layout/_form.sass"


*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    position: relative



body
    position: relative
    background-color: #777
    width: 100%


.container
    position: relative
    width: 50%
    height: max-content
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center


.link
    position: relative
    text-decoration: none
    cursor: pointer
    color: black
    &__reg
        font-weight: bold
        color: #000
        letter-spacing: .7px
        text-shadow: 0px 0px 4px #33bc24
        

.msg
    align-self: center
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    padding: 1rem 2rem
    flex-direction: column
    width: 50%
    background-color: #d8d7d7
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7)
    height: min-content
    border-radius: 1rem


.msg
    p
        margin-bottom: 1rem

footer
    position: absolute
    align-self: flex-end
    display: flex
    justify-content: center
    align-items: center
    vertical-align: middle
    width: 100vw
    border-radius: 1rem 1rem 0 0
    background-color: #88e67ece
    background: linear-gradient(0deg, rgba(64,115,59,1) 0%, rgba(136,230,126,1) 100%)
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7)
    border-top: 2px solid #d8d7d7

.no-display
    display: none

.display
    display: block


.box
    margin: o auto
    transform: translateY(7%)
    img
        width: 60vw
        height: 80vh

.posts
    z-index: 5
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%

.post
    width: 100%
    position: relative
    min-height: 8vh
    max-height: max-content
    padding: 0.5rem
    margin-bottom: .5rem
    background-color: #d8d7d7
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7)


        
