.btn, .btn-log {
  position: relative;
  padding: 5px 7px;
  align-self: flex-end;
  border-radius: 0.25rem;
  letter-spacing: 0.9px;
  cursor: pointer;
  color: white;
}
.btn::before, .btn-log::before {
  content: "";
  bottom: 0.3rem;
  position: absolute;
  background-color: white;
  height: 1px;
  right: 0;
  width: 0;
  transition: 0.5s all;
}
.btn:hover::before, .btn-log:hover::before {
  left: 0.4rem;
  background-color: #0f0d0d;
}
.btn:hover, .btn-log:hover {
  box-shadow: 0 0 5px 0.3rem rgba(136, 230, 126, 0.5);
  transform: translateY(-1px);
}

.btn::before {
  right: 0;
}
.btn:hover::before {
  width: 86%;
}

.btn-log::before {
  right: 0;
  height: 0.5px;
}
.btn-log:hover::before {
  width: 75%;
}

.btn-msg {
  border-radius: 0.4rem;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.btn-msg::before {
  right: 0;
}
.btn-msg:hover::before {
  width: 91%;
}

.btn-grad {
  background-image: linear-gradient(to right, #8a8989 0%, rgba(136, 230, 126, 0.8078431373) 70%, rgba(136, 230, 126, 0.8078431373) 100%);
}

.btn-grad {
  text-align: center;
  transition: 0.5s all;
  background-size: 200% auto;
  color: #ffffff;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #0f0d0d;
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav__header-box {
  background-color: rgba(136, 230, 126, 0.8078431373);
  width: 100%;
  padding: 1rem 0;
}
.nav__header-box h1 {
  text-align: center;
  text-decoration: underline;
}
.nav__box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2.5rem;
  background-color: rgba(91, 171, 82, 0.8078431373);
  border-radius: 0 0 1rem 1rem;
  border-bottom: 2px solid #d8d7d7;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
.nav__themes {
  align-self: flex-start;
}
.nav__pages {
  justify-self: center;
}
.nav__user {
  justify-self: end;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropbtn {
  display: block;
  position: relative;
}
.dropbtn span {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: -1.5rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content__a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}
.dropdown-content__a:hover {
  background-color: rgba(91, 171, 82, 0.8078431373);
}

.link-underlining_left-to-right {
  position: relative;
}
.link-underlining_left-to-right::before {
  content: "";
  bottom: -0.1rem;
  position: absolute;
  background-color: black;
  height: 1px;
  right: 0;
  width: 0;
  transition: 0.3s all;
}
.link-underlining_left-to-right:hover::before {
  width: 100%;
  left: 0;
}
.link-underlining_centre-to-sides::before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  background: black;
  height: 0.2rem;
  width: 100%;
  transform: scaleX(0);
  transition: 0.3s;
}
.link-underlining_centre-to-sides:hover::before {
  transform: scaleX(1);
}

.form-registration, .form-login, .form-topic {
  position: relative;
  background-color: #d8d7d7;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: all 1s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
.form-registration__success, .form-registration__error, .form-registration__question, .form-login__success, .form-login__error, .form-login__question, .form-topic__success, .form-topic__error, .form-topic__question {
  position: absolute;
  margin-left: 0 auto;
  top: 10%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  height: -moz-max-content;
  height: max-content;
  transition: all 1s;
  text-align: center;
  width: 30%;
}
.form-registration__success, .form-registration__error, .form-login__success, .form-login__error, .form-topic__success, .form-topic__error {
  border: 1px solid green;
}
.form-registration__error, .form-login__error, .form-topic__error {
  border: 1px solid red;
}
.form-registration__question, .form-login__question, .form-topic__question {
  margin-bottom: 1rem;
}
.form-registration form, .form-login form, .form-topic form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35%;
  transition: all 0.5s;
}

.form-login {
  padding-top: 4.5%;
}

.form-topic {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 20vh;
}
.form-topic p {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 50%);
}
.form-topic__box {
  width: 60%;
  margin: 0 auto;
}
.form-topic__box form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-topic__box label {
  padding-left: 1.5rem;
}
.form-topic__box textarea {
  margin-top: 0.3rem;
  padding: 0.2rem;
  height: 7rem;
  white-space: pre-wrap;
  margin-bottom: 1rem;
}
.form-topic__box textarea::-moz-placeholder {
  padding-left: 1.3rem;
}
.form-topic__box textarea::placeholder {
  padding-left: 1.3rem;
}

.form-input {
  position: relative;
  outline: none;
  align-self: center;
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 24px;
  border-radius: 0.25rem;
  border: 1px solid #c5c2c2;
  transition: all 0.3s ease-in-out;
}
.form-input:focus {
  box-shadow: 0 0 5px 0.3rem rgba(136, 230, 126, 0.5);
  border: 1px solid #000000;
}
.form-input:hover {
  box-shadow: 0 0 5px 0.3rem rgba(136, 230, 126, 0.5);
}
.form-input::-moz-placeholder {
  color: #212529;
  opacity: 0.7;
}
.form-input::placeholder {
  color: #212529;
  opacity: 0.7;
}
.form-input__name {
  background: url("../icon/name.png") no-repeat 4px center;
  background-color: white;
  background-size: 16px;
}
.form-input__password {
  background: url("../icon/password.png") no-repeat 6px center;
  background-size: 14px !important;
  background-color: white;
}
.form-input__email {
  background: url("../icon/email.png") no-repeat 4px center;
  background-color: white;
  background-size: 16px;
}
.form-input__topic {
  width: 100%;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  background: url("../icon/topic.png") no-repeat 4px center;
  background-color: white;
  background-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  position: relative;
  background-color: #777;
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 85% 5%;
}

.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.link__reg {
  font-weight: bold;
  color: #000;
  letter-spacing: 0.7px;
  text-shadow: 0px 0px 4px #33bc24;
}

.msg {
  align-self: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: column;
  width: 50%;
  background-color: #d8d7d7;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  height: -moz-min-content;
  height: min-content;
  border-radius: 1rem;
}

.msg p {
  margin-bottom: 1rem;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100vw;
  border-radius: 1rem 1rem 0 0;
  background-color: rgba(136, 230, 126, 0.8078431373);
  background: linear-gradient(0deg, rgb(64, 115, 59) 0%, rgb(136, 230, 126) 100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  border-top: 2px solid #d8d7d7;
}

.no-display {
  display: none;
}

.display {
  display: block;
}/*# sourceMappingURL=style.css.map */