

@import url('https://fonts.cdnfonts.com/css/times-new-roman');

@font-face {
    font-family: 'DSEG7-Classic';
    src: url('https://unpkg.com/dseg@0.46.0/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2') format('woff2');
}

body{
    font-family: 'Times New Roman', sans-serif !important;
}

h1{
    font-size: 4rem;
    letter-spacing: .4rem;
}

.date-panel{
    height: 7vh;
    font-family: 'DSEG7-Classic', 'Orbitron', monospace;
    font-size: 8rem;
    letter-spacing: 2px;
}

.dayFormat{
    font-family: 'Times New Roman', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.timer {
    font-family: 'DSEG7-Classic', 'Orbitron', monospace;
    font-size: 5rem;
    color: #278512;
}

.btn2block{
    width: 30%;
}

.lesStop{
    width: 50%;
    border-color: red;
}

button{
    height: 3rem;
}

.section-btn{
    width: 70%;
}

#alMes{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.numDay{
    font-size: 7rem;
    letter-spacing: .6rem;
}

.date-panel{
    height: 7vh;
    font-family: 'DSEG7-Classic', 'Orbitron', monospace;
    
    font-size: 8rem;
    letter-spacing: 2px;
}

